.Container {
	display: block;
	background-color: #FE35070D;
	margin-bottom: 40px;
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
}

.Top {
	padding: 0 10px;
	color: #777;
}

.Desc {
	margin: 10px 0;
    color: var(--pri);
    font-size: 1.5em;
    font-weight: 700;
}

.Image {
	position: relative;
	display: block;
	width: 100%;
	height: 250px;
	background-color: #555;
}

.Bottom {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.Bottom a {
	color: #555;
	font-size: 1.2em;
	font-weight: 500;
}

.Details {
	padding: 20px;
}

.Info {
	display: flex;
	align-items: center;
	color: var(--pri);
	padding: 10px 20px;
}

.InfoIcon {
	display: inline-block;
	margin-right: 10px;
}

@media (min-width: 768px) {
	.Container {
		width: calc(50% - 20px);
		margin-right: unset;
		margin-left: unset;
	}
}

@media (min-width: 960px) {
	.Container {
		width: calc(33.33% - 20px);
	}
}