.Container {
	min-height: calc(100vh - 60px);
}

/*.Nav {
	height: 50px;
	background-color: #fff;
}*/

.NavMenuOpener {
	position: fixed;
	top: 20px;
	left: 30px;
	height: fit-content;
	width: fit-content;
	z-index: 2000;
}

.Sidebar {
	position: fixed;
	left: -100vw;
	top: 0;
	height: 100vh;
	width: 280px;
	min-width: 70%;
	max-width: 100%;
	background: transparent linear-gradient(270deg, #FE3507 0%, #511702 100%) 0% 0% no-repeat padding-box;
	color: #fff;
	z-index: 1000;
	overflow: auto;
	transition: left ease-out 300ms;
}

.Sidebar.Open {
	left: 0;
}

.Backdrop {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: #555;
	opacity: 0.5;
	z-index: 500;
}

.SidebarHeading {
	display: flex;
	flex-flow: column;
	padding: 30px;
}

.SidebarInner {
	list-style: none;
	padding: 0;
	height: fit-content;
	margin-top: auto;
	margin-bottom: 100px;
	font-weight: 500;
}

.SidebarLink {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 0 30px;
	color: #fff;
}

.SidebarLink.Active,
.SidebarLink:hover {
	background-color: #0003;
}

.Main {
	padding: 30px;
	flex: 1;
}

@media (min-width: 768px) {
	.Container {
		display: flex;
	}

	.Sidebar {
		left: 0;
		width: 250px;
		min-width: unset;
	}

	.SidebarLink {
		height: 50px;
	}

	.NavMenuOpener,
	.Backdrop {
		display: none;
	}

	.Main {
		margin-left: 250px;
	}
}