.Container {
	padding: 30px 60px;
	width: fit-content;
	max-width: 100%;
	border-radius: 20px;background: transparent linear-gradient(180deg, #FE3507 0%, #521702 100%) 0% 0% no-repeat padding-box;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	text-align: center;
	color: #fff;
	border: 2px solid #707070;
}

.Image {
	position: relative;
	display: block;
	height: 120px;
	width: 120px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: #eee;
	overflow: hidden;
}
