.Container {
	text-align: center;
}

.Item {
	max-width: 300px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.ImageWrapper {
	position: relative;
	display: inline-block;
	height: 250px;
	width: 250px;
	padding: 60px;
	margin: 0 auto;
	margin-bottom: 15px;
	border-radius: 50%;
	background-image: url('/images/ae.jpg');
	background-size: cover;
	cursor: pointer;
	z-index: 10;
}

.ImageWrapper.Gallery {
	background-image: url('/images/SA.png');
}

/*.ImageWrapper:nth-child(3) {
	background-position-x: right;
}*/

.ImageWrapper::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: inherit;
	background-color: #fe5b369e;
	z-index: 1;
}

.ImageWrapper.Gallery::after {
	background-color: #01BFAF9e;
}

.Heading {
	margin-bottom: 10px;
	font-size: 1.5em;
}

@media (min-width: 960px) {
	.Wrapper {
		display: flex;
		justify-content: space-around;
	}
}