.Container {
	display: flex;
	width: fit-content;
	background-color: #f5f5f5;
	border-radius: 20px;
	overflow: hidden;
}

.Input,
.Button {
	height: 70px;
	border: none;
}

.Input {
	padding: 0 20px;
	background-color: #f5f5f5;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.Button {
	padding: 0 30px;
	color: #fff;
	background-color: #f5f5f5;
	background-color: var(--pri);
	border-radius: 20px;
}