.Container {
	max-width: 1122px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

.Location {
	margin-bottom: 30px;
	background-color: #f5f5f5;
}

.Info {
	padding: 15px;
}

.Location,
.LocationImage {
	border-radius: 10px;
}

.LocationName {
	margin-bottom: 10px;
	font-weight: 500;
}

.LocationImage {
	display: block;
	background-color: #555;
	height: 250px;
}

@media (min-width: 768px) {
	.Container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.Location {
		width: calc(50% - 20px);
	}
}