.Header {
	padding: 30px 60px;
	margin-bottom: 0;
	text-align: center;
	background-color: #aaa;
	font-size: 1.2em;
}

.Heading {
	color: var(--pri);
	margin-bottom: 0;
}

.HeadingText {
	color: #fff;
}

.AboutArticle,
.Image {
	border-radius: 10px;
}

.AboutArticle {
	margin-bottom: 40px;
	background-color: #eee;
}

.ArticleInfo {
	padding: 20px;
}

.ContentHeading {
	font-weight: 500;
	color: var(--pri);
}

.Image {
	display: block;
	height: 250px;
	background-color: #555;
}

.Bottom {
	padding: 20px;
}

.Bottom a {
	color: #555;
	font-size: 1.2em;
	font-weight: 500;
}

@media (min-width: 768px) {
	.Header {
		min-height: 65vh;
		display: flex;
		flex-flow: column;
		justify-items: center;
		text-align: left;
	}

	.HeaderInner {
		margin: auto 0;
	}

	.Heading {
		font-size: 3em;
	}

	.AboutArticles {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		max-width: 960px;
		margin: 0 auto;
	}

	.AboutArticle {
		width: calc(50% - 20px);
	}
}