.HeadingContainer {
	display: flex;
	justify-content: center;
}

.Heading {
	display: flex;
	align-items: center;
	color: var(--pri);
	font-weight: 900;
}

.HeadingIcon {
	display: inline-block;
	margin: auto 0;
	margin-right: 20px;
}

.FormInner,
.TextContainer {
	border: 1px solid #707070;
}

.FormInner {
	padding: 30px;
	padding-top: 0;
	box-shadow: 0px 20px 20px #00000029;
}

.ImageContainer {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: 20px 0;
}

.DatePicker,
.TimePicker {
	width: fit-content;
	height: fit-content;
	padding: 20px;
	margin: auto;
	text-align: center;
	color: var(--pri);
	font-weight: 500;
	box-shadow: 0px 20px 20px #00000029;
	border-radius: 15px;
	border: 1px solid #707070;
}

.TextContainer {
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 20px 20px #00000029;
}

.Title,
.AutoTextareaWrapper {
	border: none;
}

.Title:focus,
.AutoTextareaWrapper textarea:focus {
	outline: none;
	border: 1px solid var(--pri);
}

.Title {
	height: 50px;
	width: 100%;
	padding: 0 20px;
	color: var(--pri);
	font-weight: 500;
	text-align: center;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom: 2px solid #DF6A3F;
}

.AutoTextareaWrapper {
	min-height: 200px;
	margin: 0;
	padding: 0 !important;
}

.AutoTextareaWrapper:after,
.AutoTextareaWrapper textarea {
	padding: 20px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border: 1px solid transparent;
}

.SubmitButton {
	display: block;
	margin: 20px auto;
	padding: 0 30px;
	height: 50px;
	background-color: var(--pri);
	color: #fff;
	font-weight: 500;
	font-size: 1.3em;
	border-radius: 15px;
}

@media (min-width: 1020px) {
	.Container {
		max-width: 1000px;
		margin: 0 auto;
	}

	.ImageContainer {
		flex-flow: row;
		justify-content: space-around;
	}
}