.AddImageContainer {
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.ItemContainer {
	width: fit-content;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	text-align: center;
}

.ImageWrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 250px;
	width: 250px;
	border: 1px solid var(--pri);
	border-radius: 10px;
	overflow: hidden;
}

.AddImageWrapper {
	height: auto;
	padding: 10px;
}

.Image {
	margin: 0 !important;
	margin-bottom: 10px !important;
}

.Input {
	min-height: 40px;
	font-weight: 500;
	text-align: center;
	border: 1px solid #aaa;
	margin-bottom: 10px;
}

.ButtonContainer {
	margin: 15px 0;
	display: flex;
	justify-content: space-between;
}

.Button {
	height: 40px;
	width: 100%;
	border: 1px solid var(--pri-darker);
	background-color: #fff;
	color: var(--pri-darker);
	padding: 0 20px;
	margin: 10px 0;
	border-radius: 10px;
	font-weight: 500;
	cursor: pointer;
}

.ButtonContainer .Button {
	width: calc(50% - 10px);
}

.Button.SaveButton {
	display: block;
	position: relative;
	margin: 10px;
}

.Button:hover {
	color: #fff;
	background-color: var(--pri-darker);
}

.ImageWrapper:hover .Button {
	display: block;
}

@media (min-width: 768px) {
	.AddImageContainer {
		flex-flow: row;
		flex-wrap: wrap;
		max-width: 988px;
		margin: 0 auto;
	}
}