.Container {
	padding: 30px;
}

.Image {
	position: relative;
	min-height: 40vh;
	background-color: #eee;
}

.Title {
	color: var(--pri);
}

.InfoWrapper {
	display: flex;
	flex-wrap: wrap;
}

.Info {
	display: inline-block;
	margin-right: 30px;
}

.InfoIcon {
	display: inline-block;
	margin-right: 10px;
}

@media (min-width: 768px) {
	.Container {
		padding: 30px 60px;
		max-width: 900px;
		margin-right: auto;
		margin-left: auto;
	}
}