:root {
	/* Colors: */
	--pri: #FE3507;
	--pri-darker: #911b00;
	--unnamed-color-f8c755: #F8C755;
	--unnamed-color-ffffff: #FFFFFF;
	--unnamed-color-262424: #262424;
	--unnamed-color-302e2e: #302E2E;
	--unnamed-color-ff2727: #FF2727;

	/* Font/text values */
	--unnamed-font-family-poppins: Poppins;
	--unnamed-font-style-normal: normal;
	--unnamed-font-weight-600: 600px;
	--unnamed-font-size-15: 15px;
	--unnamed-character-spacing-0: 0px;
	--unnamed-line-spacing-62: 62px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

section {
	padding: 30px;
}

.header-play-button {
	width: 300px;
    height: 100px;
    border: none;
    outline: none;
    border-radius: 20px;
    position: relative;
    background: transparent linear-gradient(180deg, var(--pri) 0%, var(--pri-darker) 100%) 0% 0% no-repeat padding-box;
}

.header-play-button:focus {
	outline: none;
	border: 2px solid #944d1c;
}

.play-pause-img-container {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #ccc;
	position: relative;
	background: transparent linear-gradient(180deg, var(--pri) 0%, var(--pri-darker) 100%) 0% 0% no-repeat padding-box;
}

.play-pause-img-container:focus {
	border: 2px solid #944d1c;
}

.pause-img {
	display: none;
}

.amplitude-playing .play-img {
	display: none;
}

.amplitude-playing .pause-img {
	display: block;
}

header .play-pause-img-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 125px;
	width: 125px;
	box-shadow: 0px 0px 11px #00000057;
}

.play-pause-img-container .control-button {
	height: 30px;
	width: 30px;
}

.control-button-background {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (min-width: 768px) {
	.section {
		padding: 50px 60px;
	}
}