.CarouselSection {
	position: relative;
	padding: 30px 0;
	background-image: url('/images/worship.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 20;
}

.CarouselSection::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fe5b369e;
	z-index: 10;
}

.Carousel {
	z-index: 20;
}

.CarouselItem {
	position: relative;
	text-align: center;
	padding: 30px;
	color: #fff;
	font-size:1.52em;
}

.CarouselItemImageWrapper {
	position: relative;
	display: block;
	height: fit-content;
	width: 500px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.CarouselItemImage {
	display: inline-block;
	height: inherit !important;
	width: inherit !important;
	border-radius: 50%;
}

.CarouselItemHeading {
	font-size: 2em;
	font-weight: 500;
}

.EventSection {
	background-image: none;
	background-color: #fff;
}

.EventSection::after {
	display: none;
}

.EventCarouselTitle {
	color: #aaa;
	font-weight: 500;
	text-align: center;
}

.EventCarouselItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.EventImageWrapper {
	position: relative;
}

@media (min-width: 768px) {
	.CarouselItem {
		display: flex;
		align-items: center;
		padding: 0 60px;
	}

	.CarouselItemImageWrapper {
		flex: 0.3;
		margin-bottom: 0;
	}

	.CarouselItemText {
		flex: 0.7;
		margin: auto;
	}

	.EventImageWrapper {
		height: 500px;
		width: 40vw;
		max-width: 100vw;
		max-height: auto;
	}

	.PrevIcon {
		left: calc(50vw - 300px) !important;
	}

	.NextIcon {
		right: calc(50vw - 300px) !important;
	}
}