.Header {
	position: relative;
	padding: 30px 60px;
	margin-bottom: 0;
	text-align: center;
	background-color: #eee;
	background-image: url('/images/SA.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	font-size: 1.2em;
}

.Header::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 100%;
	width: 100%;
	background-color: #fff;
	opacity: 0.7;
	z-index: 10;
}

.HeaderInner {
	position: relative;
	z-index: 20;
}

.Heading {
	color: var(--pri);
	margin-bottom: 0;
}

.SubHeadingWrapper {
	display: flex;
	align-items: center;
}

.SubHeading {
	width: fit-content;
	margin-right: 10px;
	font-weight: 500;
}

.SeeAllLink {
	color: var(--pri);
}

@media (min-width: 768px) {
	.Header {
		min-height: 65vh;
		display: flex;
		flex-flow: column;
		justify-items: space-between;
		text-align: left;
	}

	.HeaderInner {
		margin: auto 0;
	}

	.Heading {
		font-size: 3em;
	}

	.ArticleWrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}